*.pyc
.svn
.externalToolBuilders
.settings
x86_64
*~
*.swp
.DS_Store
.project
.pydevproject
.cproject
*.so
*.dylib
*.o
.libs
*.Plo
/doc/_build
Makefile.in
aclocal.m4
autom4te.cache/
.autotools
/build/*
/xcode_nest_compare/*
/bin/*
/config.guess
/config.sub
/configure
/install-sh
/missing
/depcomp
/compile
/nest-build
/nest-install
